<a href="https://colab.research.google.com/github/movi-data/painel_performance/blob/main/painel_performance2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório Plataformas

In [298]:
import pandas as pd

# --- ETAPA 1: Carregar o arquivo ---
df_propostas = pd.read_csv("propostas.csv", sep=";", encoding="utf-8", low_memory=False)

In [299]:
df_propostas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403118 entries, 0 to 403117
Data columns (total 37 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           403118 non-null  int64
 1   Data                              403118 non-null  object
 2   Data ultima interação             403118 non-null  object
 3   Nome PDV                          403118 non-null  object
 4   CNPJ PDV                          403118 non-null  int64
 5   Nome Cliente                      399567 non-null  object
 6   Email Cliente                     250387 non-null  object
 7   Telefone Cliente                  402858 non-null  object
 8   CPF                               11500 non-null   float64
 9   Lead                              53661 non-null   object
 10  Origem                            403118 non-null  object
 11  Canal                             388274 non-null  object
 12  Status                            403118 non-null  object
 13  CallCenter status                 250041 non-null  object
 14  Data Status Loja                  332033 non-null  object
 15  Nome Vendedor                     299320 non-null  object
 16  ID do Vendedor                    299320 non-null  float64
 17  Callcenter detalhe                198096 non-null  object
 18  callcenter status detalhe         23437 non-null   object
 19  assistente vendas                 67246 non-null   object
 20  ID do Assistente de Vendas        67246 non-null   float64
 21  tipo                              403118 non-null  object
 22  qualificado                       403118 non-null  bool
 23  documentos                        2419 non-null    object
 24  tags                              237337 non-null  object
 25  vetor_id                          7453 non-null    float64
 26  data_ult_solicitacao_agendamento  2725 non-null    object
 27  data_ult_agendamento              2725 non-null    object
 28  agendamento_visita                403118 non-null  bool
 29  atraso_ult_agendamento            2725 non-null    object
 30  qtd_agendamentos_90d              2725 non-null    float64
 31  qtd_nao_foi_90d                   2725 non-null    float64
 32  regiao                            403118 non-null  object
 33  Cidade                            205122 non-null  object
 34  UF                                205122 non-null  object
 35  CEP                               205341 non-null  float64
 36  campanha                          192762 non-null  object
dtypes: bool(2), float64(7), int64(2), object(26)
memory usage: 108.4+ MB

In [300]:
df_cadastro = pd.read_excel("de_para_loja.xlsx")
df_canal =  pd.read_excel("de_para_canal.xlsx")

In [301]:
# Renomenado coluna 'Status' de df_cadastro
df_cadastro.rename(columns={'Status': 'Status_loja'}, inplace=True)

In [308]:
df_propostas_2 = df_propostas.copy()

In [309]:
# --- ETAPA  : Fazer a junção

# Merge de df_propostas_2 e df_canal por 'Canal'
df_propostas_2 = pd.merge(df_propostas_2, df_canal, on='Canal', how='left')

# remover duplicadas
df_propostas_2 = df_propostas_2.drop_duplicates()

In [310]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403118 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           403118 non-null  int64
 1   Data                              403118 non-null  object
 2   Data ultima interação             403118 non-null  object
 3   Nome PDV                          403118 non-null  object
 4   CNPJ PDV                          403118 non-null  int64
 5   Nome Cliente                      399567 non-null  object
 6   Email Cliente                     250387 non-null  object
 7   Telefone Cliente                  402858 non-null  object
 8   CPF                               11500 non-null   float64
 9   Lead                              53661 non-null   object
 10  Origem                            403118 non-null  object
 11  Canal                             388274 non-null  object
 12  Status                            403118 non-null  object
 13  CallCenter status                 250041 non-null  object
 14  Data Status Loja                  332033 non-null  object
 15  Nome Vendedor                     299320 non-null  object
 16  ID do Vendedor                    299320 non-null  float64
 17  Callcenter detalhe                198096 non-null  object
 18  callcenter status detalhe         23437 non-null   object
 19  assistente vendas                 67246 non-null   object
 20  ID do Assistente de Vendas        67246 non-null   float64
 21  tipo                              403118 non-null  object
 22  qualificado                       403118 non-null  bool
 23  documentos                        2419 non-null    object
 24  tags                              237337 non-null  object
 25  vetor_id                          7453 non-null    float64
 26  data_ult_solicitacao_agendamento  2725 non-null    object
 27  data_ult_agendamento              2725 non-null    object
 28  agendamento_visita                403118 non-null  bool
 29  atraso_ult_agendamento            2725 non-null    object
 30  qtd_agendamentos_90d              2725 non-null    float64
 31  qtd_nao_foi_90d                   2725 non-null    float64
 32  regiao                            403118 non-null  object
 33  Cidade                            205122 non-null  object
 34  UF                                205122 non-null  object
 35  CEP                               205341 non-null  float64
 36  campanha                          192762 non-null  object
 37  nominal                           403118 non-null  object
 38  ajustado                          403118 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 117.6+ MB

In [311]:
df_propostas_2['Canal'] = df_propostas_2['nominal']

In [312]:
df_propostas_2.groupby('Canal').size()

Canal
-                    14859
Campanha Digital        30
Chaves na Mão         1271
Facebook             40882
Feirão                4246
Instagram           151881
Locação               6628
Loja                 41222
Mercado Livre         3515
Mobiauto              5514
Na Pista              1587
OLX                  17917
Site                  8682
Usados BR               12
Webmotors            15492
WhatsApp             89380
dtype: int64

In [313]:
df_propostas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403118 entries, 0 to 403117
Data columns (total 37 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           403118 non-null  int64
 1   Data                              403118 non-null  object
 2   Data ultima interação             403118 non-null  object
 3   Nome PDV                          403118 non-null  object
 4   CNPJ PDV                          403118 non-null  int64
 5   Nome Cliente                      399567 non-null  object
 6   Email Cliente                     250387 non-null  object
 7   Telefone Cliente                  402858 non-null  object
 8   CPF                               11500 non-null   float64
 9   Lead                              53661 non-null   object
 10  Origem                            403118 non-null  object
 11  Canal                             388274 non-null  object
 12  Status                            403118 non-null  object
 13  CallCenter status                 250041 non-null  object
 14  Data Status Loja                  332033 non-null  object
 15  Nome Vendedor                     299320 non-null  object
 16  ID do Vendedor                    299320 non-null  float64
 17  Callcenter detalhe                198096 non-null  object
 18  callcenter status detalhe         23437 non-null   object
 19  assistente vendas                 67246 non-null   object
 20  ID do Assistente de Vendas        67246 non-null   float64
 21  tipo                              403118 non-null  object
 22  qualificado                       403118 non-null  bool
 23  documentos                        2419 non-null    object
 24  tags                              237337 non-null  object
 25  vetor_id                          7453 non-null    float64
 26  data_ult_solicitacao_agendamento  2725 non-null    object
 27  data_ult_agendamento              2725 non-null    object
 28  agendamento_visita                403118 non-null  bool
 29  atraso_ult_agendamento            2725 non-null    object
 30  qtd_agendamentos_90d              2725 non-null    float64
 31  qtd_nao_foi_90d                   2725 non-null    float64
 32  regiao                            403118 non-null  object
 33  Cidade                            205122 non-null  object
 34  UF                                205122 non-null  object
 35  CEP                               205341 non-null  float64
 36  campanha                          192762 non-null  object
dtypes: bool(2), float64(7), int64(2), object(26)
memory usage: 108.4+ MB

In [314]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403118 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           403118 non-null  int64
 1   Data                              403118 non-null  object
 2   Data ultima interação             403118 non-null  object
 3   Nome PDV                          403118 non-null  object
 4   CNPJ PDV                          403118 non-null  int64
 5   Nome Cliente                      399567 non-null  object
 6   Email Cliente                     250387 non-null  object
 7   Telefone Cliente                  402858 non-null  object
 8   CPF                               11500 non-null   float64
 9   Lead                              53661 non-null   object
 10  Origem                            403118 non-null  object
 11  Canal                             403118 non-null  object
 12  Status                            403118 non-null  object
 13  CallCenter status                 250041 non-null  object
 14  Data Status Loja                  332033 non-null  object
 15  Nome Vendedor                     299320 non-null  object
 16  ID do Vendedor                    299320 non-null  float64
 17  Callcenter detalhe                198096 non-null  object
 18  callcenter status detalhe         23437 non-null   object
 19  assistente vendas                 67246 non-null   object
 20  ID do Assistente de Vendas        67246 non-null   float64
 21  tipo                              403118 non-null  object
 22  qualificado                       403118 non-null  bool
 23  documentos                        2419 non-null    object
 24  tags                              237337 non-null  object
 25  vetor_id                          7453 non-null    float64
 26  data_ult_solicitacao_agendamento  2725 non-null    object
 27  data_ult_agendamento              2725 non-null    object
 28  agendamento_visita                403118 non-null  bool
 29  atraso_ult_agendamento            2725 non-null    object
 30  qtd_agendamentos_90d              2725 non-null    float64
 31  qtd_nao_foi_90d                   2725 non-null    float64
 32  regiao                            403118 non-null  object
 33  Cidade                            205122 non-null  object
 34  UF                                205122 non-null  object
 35  CEP                               205341 non-null  float64
 36  campanha                          192762 non-null  object
 37  nominal                           403118 non-null  object
 38  ajustado                          403118 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 117.6+ MB

In [293]:
# remover duplicadas
df_propostas_2 = df_propostas_2.drop_duplicates()

In [315]:
df_propostas_2.groupby('qualificado').size()

qualificado
False     82950
True     320168
dtype: int64

In [316]:
df_propostas_2.groupby('Canal').size()

Canal
-                    14859
Campanha Digital        30
Chaves na Mão         1271
Facebook             40882
Feirão                4246
Instagram           151881
Locação               6628
Loja                 41222
Mercado Livre         3515
Mobiauto              5514
Na Pista              1587
OLX                  17917
Site                  8682
Usados BR               12
Webmotors            15492
WhatsApp             89380
dtype: int64

In [317]:
# --- ETAPA 2: Preparar Colunas ---

# Trocar na coluna 'Origem' onde for 'MobiBot' por 'Internet' de df_propostas_2
df_propostas_2['Origem'] = df_propostas_2['Origem'].replace('MobiBot', 'Internet')

# Renomear coluna 'qualificado' de df_propostas_2
df_propostas_2.rename(columns={'qualificado': 'Qualificado'}, inplace=True)

df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403118 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           403118 non-null  int64
 1   Data                              403118 non-null  object
 2   Data ultima interação             403118 non-null  object
 3   Nome PDV                          403118 non-null  object
 4   CNPJ PDV                          403118 non-null  int64
 5   Nome Cliente                      399567 non-null  object
 6   Email Cliente                     250387 non-null  object
 7   Telefone Cliente                  402858 non-null  object
 8   CPF                               11500 non-null   float64
 9   Lead                              53661 non-null   object
 10  Origem                            403118 non-null  object
 11  Canal                             403118 non-null  object
 12  Status                            403118 non-null  object
 13  CallCenter status                 250041 non-null  object
 14  Data Status Loja                  332033 non-null  object
 15  Nome Vendedor                     299320 non-null  object
 16  ID do Vendedor                    299320 non-null  float64
 17  Callcenter detalhe                198096 non-null  object
 18  callcenter status detalhe         23437 non-null   object
 19  assistente vendas                 67246 non-null   object
 20  ID do Assistente de Vendas        67246 non-null   float64
 21  tipo                              403118 non-null  object
 22  Qualificado                       403118 non-null  bool
 23  documentos                        2419 non-null    object
 24  tags                              237337 non-null  object
 25  vetor_id                          7453 non-null    float64
 26  data_ult_solicitacao_agendamento  2725 non-null    object
 27  data_ult_agendamento              2725 non-null    object
 28  agendamento_visita                403118 non-null  bool
 29  atraso_ult_agendamento            2725 non-null    object
 30  qtd_agendamentos_90d              2725 non-null    float64
 31  qtd_nao_foi_90d                   2725 non-null    float64
 32  regiao                            403118 non-null  object
 33  Cidade                            205122 non-null  object
 34  UF                                205122 non-null  object
 35  CEP                               205341 non-null  float64
 36  campanha                          192762 non-null  object
 37  nominal                           403118 non-null  object
 38  ajustado                          403118 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 117.6+ MB

In [318]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     320168
dtype: int64

In [319]:
df_propostas_2.groupby('Canal').size()

Canal
-                    14859
Campanha Digital        30
Chaves na Mão         1271
Facebook             40882
Feirão                4246
Instagram           151881
Locação               6628
Loja                 41222
Mercado Livre         3515
Mobiauto              5514
Na Pista              1587
OLX                  17917
Site                  8682
Usados BR               12
Webmotors            15492
WhatsApp             89380
dtype: int64

In [320]:
#valores unicos na coluna 'Status' de df_propostas_2
df_propostas_2['Origem'].unique()

array(['Internet', 'Passante', 'CRM', 'Prospecção', 'Ligação Receptiva',
       'Indicação', 'desconhecido', 'OLX Pessoa Física', 'Outros',
       'Feirao'], dtype=object)

In [321]:
# Agrupar por 'Origem'
df_propostas_2.groupby('Origem').size()

Origem
CRM                    4286
Feirao                    2
Indicação              2051
Internet             341498
Ligação Receptiva       919
OLX Pessoa Física       480
Outros                    4
Passante              18686
Prospecção            20446
desconhecido          14746
dtype: int64

In [322]:
df_propostas_2.groupby('Canal').size()

Canal
-                    14859
Campanha Digital        30
Chaves na Mão         1271
Facebook             40882
Feirão                4246
Instagram           151881
Locação               6628
Loja                 41222
Mercado Livre         3515
Mobiauto              5514
Na Pista              1587
OLX                  17917
Site                  8682
Usados BR               12
Webmotors            15492
WhatsApp             89380
dtype: int64

In [323]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     320168
dtype: int64

In [324]:
# ---  ETAPA : Filtrar Colunas ---

# Filtrar coluna 'Origem' onde for 'Internet' df_propostas_2
df_propostas_2 = df_propostas_2[df_propostas_2['Origem'] == 'Internet']

df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 341498 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           341498 non-null  int64
 1   Data                              341498 non-null  object
 2   Data ultima interação             341498 non-null  object
 3   Nome PDV                          341498 non-null  object
 4   CNPJ PDV                          341498 non-null  int64
 5   Nome Cliente                      337954 non-null  object
 6   Email Cliente                     245950 non-null  object
 7   Telefone Cliente                  341279 non-null  object
 8   CPF                               8767 non-null    float64
 9   Lead                              46208 non-null   object
 10  Origem                            341498 non-null  object
 11  Canal                             341498 non-null  object
 12  Status                            341498 non-null  object
 13  CallCenter status                 216798 non-null  object
 14  Data Status Loja                  271029 non-null  object
 15  Nome Vendedor                     254278 non-null  object
 16  ID do Vendedor                    254278 non-null  float64
 17  Callcenter detalhe                137308 non-null  object
 18  callcenter status detalhe         22690 non-null   object
 19  assistente vendas                 60193 non-null   object
 20  ID do Assistente de Vendas        60193 non-null   float64
 21  tipo                              341498 non-null  object
 22  Qualificado                       341498 non-null  bool
 23  documentos                        2348 non-null    object
 24  tags                              204106 non-null  object
 25  vetor_id                          1611 non-null    float64
 26  data_ult_solicitacao_agendamento  1631 non-null    object
 27  data_ult_agendamento              1631 non-null    object
 28  agendamento_visita                341498 non-null  bool
 29  atraso_ult_agendamento            1631 non-null    object
 30  qtd_agendamentos_90d              1631 non-null    float64
 31  qtd_nao_foi_90d                   1631 non-null    float64
 32  regiao                            341498 non-null  object
 33  Cidade                            205055 non-null  object
 34  UF                                205055 non-null  object
 35  CEP                               205274 non-null  float64
 36  campanha                          192762 non-null  object
 37  nominal                           341498 non-null  object
 38  ajustado                          341498 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 99.7+ MB

In [325]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     258548
dtype: int64

In [326]:
df_propostas_2.groupby('Canal').size()

Canal
-                      581
Campanha Digital        30
Chaves na Mão         1271
Facebook             40882
Feirão                   1
Instagram           151881
Locação               5855
Loja                    15
Mercado Livre         2579
Mobiauto              5514
Na Pista              1587
OLX                  17914
Site                  8504
Usados BR               12
Webmotors            15492
WhatsApp             89380
dtype: int64

In [337]:
# criar csv
df_propostas_2.to_csv("verificar.csv",sep=";" ,index=False)

In [327]:
#valores unicos na coluna 'Status' de df_propostas_2
df_propostas_2['Status'].unique()

array(['NOVA', 'FINALIZADA SEM VENDA', 'EM ANDAMENTO',
       'FINALIZADA PELO CLIENTE', 'FINALIZADA COM VENDA',
       'FINALIZADA PELO SISTEMA', 'CRM', 'AGENDAMENTO'], dtype=object)

In [328]:
# Filtrar coluna 'Status' por linhas que sejam diferentes de 'CRM' df_propostas_2
df_propostas_2 = df_propostas_2[df_propostas_2['Status'] != 'CRM']

In [329]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     256197
dtype: int64

In [330]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339147 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           339147 non-null  int64
 1   Data                              339147 non-null  object
 2   Data ultima interação             339147 non-null  object
 3   Nome PDV                          339147 non-null  object
 4   CNPJ PDV                          339147 non-null  int64
 5   Nome Cliente                      335617 non-null  object
 6   Email Cliente                     243956 non-null  object
 7   Telefone Cliente                  338928 non-null  object
 8   CPF                               8752 non-null    float64
 9   Lead                              46146 non-null   object
 10  Origem                            339147 non-null  object
 11  Canal                             339147 non-null  object
 12  Status                            339147 non-null  object
 13  CallCenter status                 216798 non-null  object
 14  Data Status Loja                  268678 non-null  object
 15  Nome Vendedor                     253847 non-null  object
 16  ID do Vendedor                    253847 non-null  float64
 17  Callcenter detalhe                134957 non-null  object
 18  callcenter status detalhe         20504 non-null   object
 19  assistente vendas                 57998 non-null   object
 20  ID do Assistente de Vendas        57998 non-null   float64
 21  tipo                              339147 non-null  object
 22  Qualificado                       339147 non-null  bool
 23  documentos                        2343 non-null    object
 24  tags                              201755 non-null  object
 25  vetor_id                          1611 non-null    float64
 26  data_ult_solicitacao_agendamento  1630 non-null    object
 27  data_ult_agendamento              1630 non-null    object
 28  agendamento_visita                339147 non-null  bool
 29  atraso_ult_agendamento            1630 non-null    object
 30  qtd_agendamentos_90d              1630 non-null    float64
 31  qtd_nao_foi_90d                   1630 non-null    float64
 32  regiao                            339147 non-null  object
 33  Cidade                            203129 non-null  object
 34  UF                                203129 non-null  object
 35  CEP                               203347 non-null  float64
 36  campanha                          190920 non-null  object
 37  nominal                           339147 non-null  object
 38  ajustado                          339147 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 99.0+ MB

In [331]:
# Agrupar por 'Origem'
df_propostas_2.groupby('Status').size()

Status
AGENDAMENTO                  1969
EM ANDAMENTO                23729
FINALIZADA COM VENDA         2085
FINALIZADA PELO CLIENTE      3229
FINALIZADA PELO SISTEMA      8535
FINALIZADA SEM VENDA       232118
NOVA                        67482
dtype: int64

In [332]:
# linhas preechidas tem em 'ID Lead'
print(df_propostas_2['Status'].count())

339147

In [241]:
# quantas linhas vazias tem em 'ID Lead'
print(df_propostas_2['Status'].isnull().sum())

0

In [154]:
df_cadastro.columns

Index(['CNPJ', 'Nome PDV', 'Nome ajustado', 'Região', 'Varejo', 'UF', 'Cidade',
       'DDD', 'Status', 'CEP', 'Telefone', 'Endereço ', 'Bairro', 'Mobi ID',
       'CNPJ DE', 'CNPJ PARA', 'Regional'],
      dtype='object')

In [202]:
df_cadastro.columns

Index(['CNPJ', 'Nome PDV', 'Nome ajustado', 'Região', 'Varejo', 'UF', 'Cidade',
       'DDD', 'Status_loja', 'CEP', 'Telefone', 'Endereço ', 'Bairro',
       'Mobi ID', 'CNPJ DE', 'CNPJ PARA', 'Regional'],
      dtype='object')

In [333]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339147 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           339147 non-null  int64
 1   Data                              339147 non-null  object
 2   Data ultima interação             339147 non-null  object
 3   Nome PDV                          339147 non-null  object
 4   CNPJ PDV                          339147 non-null  int64
 5   Nome Cliente                      335617 non-null  object
 6   Email Cliente                     243956 non-null  object
 7   Telefone Cliente                  338928 non-null  object
 8   CPF                               8752 non-null    float64
 9   Lead                              46146 non-null   object
 10  Origem                            339147 non-null  object
 11  Canal                             339147 non-null  object
 12  Status                            339147 non-null  object
 13  CallCenter status                 216798 non-null  object
 14  Data Status Loja                  268678 non-null  object
 15  Nome Vendedor                     253847 non-null  object
 16  ID do Vendedor                    253847 non-null  float64
 17  Callcenter detalhe                134957 non-null  object
 18  callcenter status detalhe         20504 non-null   object
 19  assistente vendas                 57998 non-null   object
 20  ID do Assistente de Vendas        57998 non-null   float64
 21  tipo                              339147 non-null  object
 22  Qualificado                       339147 non-null  bool
 23  documentos                        2343 non-null    object
 24  tags                              201755 non-null  object
 25  vetor_id                          1611 non-null    float64
 26  data_ult_solicitacao_agendamento  1630 non-null    object
 27  data_ult_agendamento              1630 non-null    object
 28  agendamento_visita                339147 non-null  bool
 29  atraso_ult_agendamento            1630 non-null    object
 30  qtd_agendamentos_90d              1630 non-null    float64
 31  qtd_nao_foi_90d                   1630 non-null    float64
 32  regiao                            339147 non-null  object
 33  Cidade                            203129 non-null  object
 34  UF                                203129 non-null  object
 35  CEP                               203347 non-null  float64
 36  campanha                          190920 non-null  object
 37  nominal                           339147 non-null  object
 38  ajustado                          339147 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 99.0+ MB

In [334]:
df_canal.columns

Index(['Canal', 'nominal', 'ajustado'], dtype='object')

In [335]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339147 entries, 0 to 417961
Data columns (total 39 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           339147 non-null  int64
 1   Data                              339147 non-null  object
 2   Data ultima interação             339147 non-null  object
 3   Nome PDV                          339147 non-null  object
 4   CNPJ PDV                          339147 non-null  int64
 5   Nome Cliente                      335617 non-null  object
 6   Email Cliente                     243956 non-null  object
 7   Telefone Cliente                  338928 non-null  object
 8   CPF                               8752 non-null    float64
 9   Lead                              46146 non-null   object
 10  Origem                            339147 non-null  object
 11  Canal                             339147 non-null  object
 12  Status                            339147 non-null  object
 13  CallCenter status                 216798 non-null  object
 14  Data Status Loja                  268678 non-null  object
 15  Nome Vendedor                     253847 non-null  object
 16  ID do Vendedor                    253847 non-null  float64
 17  Callcenter detalhe                134957 non-null  object
 18  callcenter status detalhe         20504 non-null   object
 19  assistente vendas                 57998 non-null   object
 20  ID do Assistente de Vendas        57998 non-null   float64
 21  tipo                              339147 non-null  object
 22  Qualificado                       339147 non-null  bool
 23  documentos                        2343 non-null    object
 24  tags                              201755 non-null  object
 25  vetor_id                          1611 non-null    float64
 26  data_ult_solicitacao_agendamento  1630 non-null    object
 27  data_ult_agendamento              1630 non-null    object
 28  agendamento_visita                339147 non-null  bool
 29  atraso_ult_agendamento            1630 non-null    object
 30  qtd_agendamentos_90d              1630 non-null    float64
 31  qtd_nao_foi_90d                   1630 non-null    float64
 32  regiao                            339147 non-null  object
 33  Cidade                            203129 non-null  object
 34  UF                                203129 non-null  object
 35  CEP                               203347 non-null  float64
 36  campanha                          190920 non-null  object
 37  nominal                           339147 non-null  object
 38  ajustado                          339147 non-null  object
dtypes: bool(2), float64(7), int64(2), object(28)
memory usage: 99.0+ MB

In [336]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     256197
dtype: int64

In [224]:
# Merge de df_propostas_2 e df_cadastro por 'Nome PDV'
df_propostas_2 = pd.merge(df_propostas_2, df_cadastro, on='Nome PDV', how='left', indicator=True)

ValueError: Cannot use name of an existing column for indicator column

In [210]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False    130440
True     389179
dtype: int64

In [211]:
# remover duplicadas
df_propostas_2 = df_propostas_2.drop_duplicates()

In [212]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     256197
dtype: int64

In [213]:
df_propostas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339147 entries, 0 to 519618
Data columns (total 56 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID Lead                           339147 non-null  int64
 1   Data                              339147 non-null  object
 2   Data ultima interação             339147 non-null  object
 3   Nome PDV                          339147 non-null  object
 4   CNPJ PDV                          339147 non-null  int64
 5   Nome Cliente                      335617 non-null  object
 6   Email Cliente                     243956 non-null  object
 7   Telefone Cliente                  338928 non-null  object
 8   CPF                               8752 non-null    float64
 9   Lead                              46146 non-null   object
 10  Origem                            339147 non-null  object
 11  Canal                             338566 non-null  object
 12  Status                            339147 non-null  object
 13  CallCenter status                 216798 non-null  object
 14  Data Status Loja                  268678 non-null  object
 15  Nome Vendedor                     253847 non-null  object
 16  ID do Vendedor                    253847 non-null  float64
 17  Callcenter detalhe                134957 non-null  object
 18  callcenter status detalhe         20504 non-null   object
 19  assistente vendas                 57998 non-null   object
 20  ID do Assistente de Vendas        57998 non-null   float64
 21  tipo                              339147 non-null  object
 22  Qualificado                       339147 non-null  bool
 23  documentos                        2343 non-null    object
 24  tags                              201755 non-null  object
 25  vetor_id                          1611 non-null    float64
 26  data_ult_solicitacao_agendamento  1630 non-null    object
 27  data_ult_agendamento              1630 non-null    object
 28  agendamento_visita                339147 non-null  bool
 29  atraso_ult_agendamento            1630 non-null    object
 30  qtd_agendamentos_90d              1630 non-null    float64
 31  qtd_nao_foi_90d                   1630 non-null    float64
 32  regiao                            339147 non-null  object
 33  Cidade_x                          203129 non-null  object
 34  UF_x                              203129 non-null  object
 35  CEP_x                             203347 non-null  float64
 36  campanha                          190920 non-null  object
 37  nominal                           339144 non-null  object
 38  ajustado                          339144 non-null  object
 39  CNPJ                              327665 non-null  object
 40  Nome ajustado                     327665 non-null  object
 41  Região                            327665 non-null  object
 42  Varejo                            327665 non-null  object
 43  UF_y                              327665 non-null  object
 44  Cidade_y                          327665 non-null  object
 45  DDD                               327665 non-null  object
 46  Status_loja                       327665 non-null  object
 47  CEP_y                             327665 non-null  object
 48  Telefone                          327665 non-null  object
 49  Endereço                          327665 non-null  object
 50  Bairro                            327665 non-null  object
 51  Mobi ID                           327665 non-null  object
 52  CNPJ DE                           327665 non-null  object
 53  CNPJ PARA                         327665 non-null  object
 54  Regional                          327665 non-null  object
 55  _merge                            339147 non-null  category
dtypes: bool(2), category(1), float64(7), int64(2), object(44)
memory usage: 140.7+ MB

In [214]:
df_propostas_2.head()

,ID Lead,Data,Data ultima interação,Nome PDV,CNPJ PDV,Nome Cliente,Email Cliente,Telefone Cliente,CPF,Lead,...,Status_loja,CEP_y,Telefone,Endereço,Bairro,Mobi ID,CNPJ DE,CNPJ PARA,Regional,_merge
0,55410293,01/06/2025,01/06/2025,Seminovos Movida Indaiatuba,21314559022640,.,NaN,19971508681,NaN,NaN,...,Ativa,13338-705,19 3121 9005,Avenida Presidente Vargas 2939 Vila Vitória,Vila Homero,60901,7976147004905,21314559022640,Thalyta Barbosa Marques,both
2,55410294,01/06/2025,17/06/2025,Seminovos Movida Raja,21314559004900,Eliana,NaN,3599018963,NaN,NaN,...,Ativa,30494-310,31 30582177,Avenida Raja Gabaglia 3500 LOJA 1,Estoril,18983,7976147027603,21314559004900,Ari Gomes De Oliveira,both
4,55410295,01/06/2025,01/06/2025,Seminovos Movida Várzea Grande,21314559018375,NaN,NaN,6699407893,NaN,NaN,...,Ativa,78115-005,65 40420514,Avenida da Feb 1788,Da Manga,18994,7976147017489,21314559018375,Kaique Silva Gorayeb,both
5,55410296,01/06/2025,01/06/2025,Seminovos Movida Espinheiro,21314559011281,,NaN,8195383274,NaN,NaN,...,Ativa,52021-010,81 20113462,Rua Alfredo de Castro 101,Espinheiro,51076,7976147027280,21314559011281,Wellington Valfrido De Santana,both
7,55410297,01/06/2025,01/06/2025,Seminovos Movida João Pessoa Brisamar,21314559010986,Maicon,NaN,8387747181,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [215]:
# linhas preechidas tem em 'ID Lead'
print(df_propostas_2['Nome PDV'].count())

339147

In [167]:
print(df_propostas_2['Nome PDV'].isnull().sum())

0

In [216]:
#valores unicos na coluna 'Status' de df_propostas_2
df_propostas_2['Nome ajustado'].unique()

array(['Seminovos Movida Indaiatuba',
       'Seminovos Movida Belo Horizonte Raja',
       'Seminovos Movida Várzea Grande',
       'Seminovos Movida Recife Espinheiro', nan,
       'Seminovos Movida Osasco', 'Seminovos Movida Mogi das Cruzes',
       'Seminovos Movida Maringá',
       'Seminovos Movida Guarulhos Timoteo Penteado',
       'Seminovos Movida Curitiba Floriano',
       'Seminovos Movida Lauro de Freitas',
       'Seminovos Movida Contagem Babita Camargo',
       'Seminovos Movida Nova Iguaçu',
       'Seminovos Movida São Paulo Ermano Marchetti',
       'Seminovos Movida São Paulo Aricanduva',
       'Seminovos Movida Taguatinga', 'Seminovos Movida Belém Marco',
       'Seminovos Movida Salvador Paralela',
       'Seminovos Movida Campinas Orosimbo',
       'Seminovos Movida São Bernardo Pereira Barreto',
       'Seminovos Movida Feira de Santana', 'Seminovos Movida Londrina',
       'Seminovos Movida São Paulo Eliseu de Almeida',
       'Seminovos Movida Piracicaba', 'Seminovos Movida Ribeirão Preto',
       'Seminovos Movida Belo Horizonte Cristiano Machado',
       'Seminovos Movida Sorocaba',
       'Seminovos Movida Rio de Janeiro Tijuca',
       'Seminovos Movida Recife Caxangá',
       'Seminovos Movida Campinas Itapura',
       'Seminovos Movida Sorocaba Dom Aguirre',
       'Seminovos Movida Rio de Janeiro Campo Grande',
       'Seminovos Movida Vila Velha', 'Seminovos Movida Teresina',
       'Seminovos Movida São Paulo Radial Leste',
       'Seminovos Movida Jundiaí', 'Seminovos Movida Brasília SIA',
       'Seminovos Movida Rio de Janeiro Av. das Américas',
       'Seminovos Movida Santos',
       'Seminovos Movida São Paulo Vila Carrão', 'Seminovos Movida Betim',
       'Seminovos Movida Taubaté', 'Seminovos Movida São José dos Campos',
       'Seminovos Movida Serra',
       'Seminovos Movida São Paulo Itaim Paulista',
       'Seminovos Movida Fortaleza', 'Seminovos Movida Cuiabá',
       'Seminovos Movida São Carlos', 'Seminovos Movida Belém Senador',
       'Seminovos Movida Natal', 'Seminovos Movida Juiz de Fora',
       'Seminovos Movida Caxias do Sul', 'Seminovos Movida São Luís',
       'Seminovos Movida São Paulo Vila Ema',
       'Seminovos Movida São Bernardo do Campo',
       'Seminovos Movida Canoas', 'Seminovos Movida Aparecida de Goiânia',
       'Seminovos Movida Joinville', 'Seminovos Movida Uberlândia',
       'Seminovos Movida Fortaleza Av. Santos Dumont',
       'Seminovos Movida São Paulo São Miguel', 'Seminovos Movida Manaus',
       'Seminovos Movida São Paulo Gastão Vidigal',
       'Seminovos Movida São Paulo Vila Guilherme',
       'Seminovos Movida São José do Rio Preto',
       'Seminovos Movida Blumenau', 'Seminovos Movida Campo Grande',
       'Seminovos Movida Vitória', 'Seminovos Movida Niterói',
       'Seminovos Movida São Paulo Nações Unidas',
       'Seminovos Movida Recife Imbiribeira',
       'Seminovos Movida Porto Alegre Sarandi',
       'Seminovos Movida São José dos Pinhais',
       'Seminovos Movida Rio de Janeiro Vila Valqueire',
       'Seminovos Movida Itajaí', '-', 'Seminovos Movida Limeira',
       'Seminovos Movida Curitiba Mario Tourinho',
       'Seminovos Movida Maceió',
       'Seminovos Movida Belo Horizonte Antonio Carlos',
       'Seminovos Movida Belo Horizonte Carlos Luz',
       'Seminovos Movida São Paulo Santana', 'Seminovos Movida Americana',
       'Seminovos Movida Santo André',
       'Seminovos Movida Rio de Janeiro Barra da Tijuca',
       'Seminovos Movida Porto Alegre Ipiranga',
       'Seminovos Movida São José',
       'Seminovos Movida Campinas Shopping Dom Pedro',
       'Seminovos Movida Rio de Janeiro Duque de Caxias',
       'Seminovos Movida São Paulo Penha', 'Seminovos Movida Bauru',
       'Seminovos Movida Suzano', 'Seminovos Movida São Leopoldo',
       'Seminovos Movida Rio de Janeiro Intendente Magalhães',
       'Seminovos Movida Fortaleza Auto Shopping'], dtype=object)

In [218]:
df_propostas.groupby('qualificado').size()

qualificado
False     82950
True     320168
dtype: int64

In [219]:
df_propostas_2.groupby('Qualificado').size()

Qualificado
False     82950
True     256197
dtype: int64

In [223]:
df_propostas_2.groupby('Canal').size()

Canal
-                      581
Campanha Digital        30
Chaves na Mão         1271
Facebook             40440
Feirão                   1
Instagram           150480
Locação               5855
Loja                    15
Mercado Livre         2565
Mobiauto              5500
Na Pista              1578
OLX                  17879
Site                  8502
Usados BR               12
Webmotors            15405
WhatsApp             89030
dtype: int64

In [221]:
# --- ETAPA : Copiar coluna 'nominal'  para 'Canal' em de df_propostas_2 ---
df_propostas_2['Canal'] = df_propostas_2['nominal']

# --- ETAPA : Fazer agrupamento ---

# Agrupar leads por mês na coluna 'Data' , 'Canal' e 'Qualificado'

leads_por_canal_mes = df_propostas_2.groupby([pd.to_datetime(df_propostas_2["Data"], format="%d/%m/%Y", errors='coerce').dt.to_period("d"),
                                            "Canal","Qualificado"]).size().reset_index(name="Quantidade de Leads")

In [175]:
df_propostas_2['Canal'].unique()

array(['WhatsApp', 'Instagram', 'OLX', 'Facebook', 'Site', 'Webmotors',
       'Mercado Livre', 'Locação', 'Mobiauto', '-', 'Campanha Digital',
       'Usados BR', 'Loja', 'Chaves na Mão', 'Feirão', 'Na Pista', nan],
      dtype=object)

In [178]:
# --- ETAPA : Criar arquivo csv e download ---

# Criar arquivo .csv
leads_por_canal_mes.to_csv("leads_por_canal_mes.csv",sep=";",index=False, encoding='utf-8')

# Download do arquivo
from google.colab import files
files.download("leads_por_canal_mes.csv")

# Vizualização para conferência
leads_por_canal_mes.tail()

            Data      Canal  Qualificado  Quantidade de Leads
2407  2025-09-25       Site        False                    5
2408  2025-09-25       Site         True                  250
2409  2025-09-25  Webmotors         True                  165
2410  2025-09-25   WhatsApp        False                   90
2411  2025-09-25   WhatsApp         True                  670

In [222]:
leads_por_canal_mes.groupby('Qualificado').size()

Qualificado
False    1078
True     1334
dtype: int64

In [5]:
leads_por_canal_mes.head()

         Data      Canal  Qualificado  Quantidade de Leads
0  2025-06-01          -         True                    1
1  2025-06-01   Facebook        False                   33
2  2025-06-01   Facebook         True                  489
3  2025-06-01  Instagram        False                  296
4  2025-06-01  Instagram         True                 1713

In [ ]:
import pandas as pd

# --- ETAPA 1: Carregar o arquivo ---
df_propostas = pd.read_csv("propostas.csv", sep=";", encoding="utf-8", low_memory=False)
df_cadastro = pd.read_excel("de_para_loja.xlsx")
df_canal =  pd.read_excel("de_para_canal.xlsx")

df_propostas_2 = df_propostas.copy()

# --- ETAPA 2: Preparar Colunas ---

# Renomenado coluna 'Status' de df_cadastro
df_cadastro.rename(columns={'Status': 'Status_loja'}, inplace=True)

# Renomear coluna 'qualificado' de df_propostas_2
df_propostas_2.rename(columns={'qualificado': 'Qualificado'}, inplace=True)

# --- ETAPA  : Fazer a junção

# Merge de df_propostas_2 e df_canal por 'Canal'
df_propostas_2 = pd.merge(df_propostas_2, df_canal, on='Canal', how='left')

# Merge de df_propostas_2 e df_cadastro por 'Nome PDV'
df_propostas_2 = pd.merge(df_propostas_2, df_cadastro, on='Nome PDV', how='left', indicator=True)



# Criar arquivo .csv
df_propostas_2.to_csv("teste.csv",sep=";" ,index=False)

df_propostas_2.head()

,ID Lead,Data,Data ultima interação,Nome PDV,CNPJ PDV,Nome Cliente,Email Cliente,Telefone Cliente,CPF,Lead,...,Status_loja,CEP_y,Telefone,Endereço,Bairro,Mobi ID,CNPJ DE,CNPJ PARA,Regional,_merge
0,55410293,01/06/2025,01/06/2025,Seminovos Movida Indaiatuba,21314559022640,.,NaN,19971508681,NaN,NaN,...,Ativa,13338-705,19 3121 9005,Avenida Presidente Vargas 2939 Vila Vitória,Vila Homero,60901,7976147004905,21314559022640,Leonardo Alves Cardoso,both
1,55410294,01/06/2025,17/06/2025,Seminovos Movida Raja,21314559004900,Eliana,NaN,3599018963,NaN,NaN,...,Ativa,30494-310,31 30582177,Avenida Raja Gabaglia 3500 LOJA 1,Estoril,18983,7976147027603,21314559004900,Ari Gomes De Oliveira,both
2,55410295,01/06/2025,01/06/2025,Seminovos Movida Várzea Grande,21314559018375,NaN,NaN,6699407893,NaN,NaN,...,Ativa,78115-005,65 40420514,Avenida da Feb 1788,Da Manga,18994,7976147017489,21314559018375,Kaique Silva Gorayeb,both
3,55410296,01/06/2025,01/06/2025,Seminovos Movida Espinheiro,21314559011281,,NaN,8195383274,NaN,NaN,...,Ativa,52021-010,81 20113462,Rua Alfredo de Castro 101,Espinheiro,51076,7976147027280,21314559011281,Wellington Valfrido De Santana,both
4,55410297,01/06/2025,01/06/2025,Seminovos Movida João Pessoa Brisamar,21314559010986,Maicon,NaN,8387747181,NaN,NaN,...,Ativa,58033-454,83 31420347,Rua Empresário Clóvis Rolim 2001 Brisamar,Brisamar,58919,7976147032364,21314559010986,Wellington Valfrido De Santana,both

In [259]:
# criar dicionario para df_propostas_2 'Canal' de df_canal 'Canal'
dic_canal = dict(zip(df_canal['Canal'], df_canal['nominal']))

# alterar conforme dic_canal
df_propostas_2['Canal'] = df_propostas_2['Canal'].map(dic_canal)